* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
}

body {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    width: 360px;
}

.gradient {
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0.2), #46cb72), url("../images/bg.jpg") fixed;
    background-size: cover;
    background-position: -300px 0px;
}

.gps {
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0.4), rgba(45,45,45,1)), url("../images/gpslocation.jpg") fixed;
    background-size: cover;
    background-position: -300px 0px;
    display: flex;
    justify-content: center;
}

.gps__container {
    margin-top: 38vh;
    width: 90%;
    overflow: hidden;
}

.gps div p {
    padding: 2em 2em 0 2em;
}

/* REGISTER AVATAR */
#avatar {
    height: 15vh;
    display: none;
}

.form__avatar {
    height: 15vh;
}

/* END REGISTER AVATAR */

h1 {
    font-weight: bold;
    font-size: 2.1em;
    margin: 0.4em 0;
}

.h1__xl {
    font-size: 2.5em;
}

.h1--members {
    font-size: 1.3em;
    width: 75%;
    margin: 0.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    margin: 0.5em 0 0 0.5em;
    font-size: 1em;
    color: #222455;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.login {
    text-align: center;
    max-height: 100%;
    overflow: hidden;
}

.form__field {
    display: inline-flex;
    margin: 12px 0;
    font-weight: 500;
}

.gps div.form__field {
    display: flex;
    justify-content: center;
}

.community__data__container div.form__field {
    display: flex;
    justify-content: center;
    margin: 0.3em;
}

.community__data__container div.top__container {
    margin-top: 2em;
}

.community__data__container .form__field .btn {
    margin: 0em;
}

.form__field__input {
    border-radius: 10px;
    background-color: rgba(218, 204, 204, 0.5);
    display: flex;
}

.form__image {
    margin-top: 1.5em;
    width: 180px;
    height: 170px;
}

.form__field input {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.1em;
}

.white {
    color: #fff;
}

.green {
    color: #25A032;
}

.blue {
    color: rgb(61, 75, 231);
    font-weight: 700;
}

.form__field input[type=text],
.form__field input[type=password] {
    border: none;
    background-color: transparent;
}

::placeholder {
    color: #fff;
}

.form__field__container {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.form__link {
    text-align: right;
    margin-top: 15px;
}

.form__biglink {
    font-weight: 500;
}

.form__change {
    text-decoration: underline;
}

.form__icon {
    height: 20px;
    width: 20px;
    align-self: center;
    margin-left: 15px;
}

.form__field .btn {
    margin-top: 1.5em;
}

.btn--primary {
    background-color: #fff;
    border: none;
    color: #248823;
    width: 220px;
    border-radius: 10px;
}

.btn--reverse {
    background-color: #45CB71;
    color: #fff;
}

.btn--round {
    border-radius: 50px;
}

.btn--used {
    background-color: #A0A89D;
}

header, footer {
    position: fixed;
    background-color: #67B74E;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    z-index: 50000;
}

header {
    border-radius: 0 0 40px 40px;
    align-items: center;
    top: 0px;
}

footer {
    border-radius: 40px 40px 0 0;
    bottom: 0px;
    align-items: flex-end;
}

header .form__field {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header .form__field input[type=text] {
    background-color: #fff;
    width: 75vw;
    text-align: center;
}

header .form__field input[type=text]::placeholder {
    color: #6E7FAA;
}

.form__field__search {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    border: 1px #E8E8E8;
}

.line {
    width: 100%;
    height: 5px;
    background-color: #F2F2F2;
    border-radius: 100px;
    margin-bottom: 15px;
}

.mapbtn {
    height: 70px;
    margin-bottom: 4vh;
}

.community__container {
    margin-top: 12vh;
    color: #222455;
    display: flex;
    flex-direction: column;
}

.community__container--all {
    margin-bottom: 18vh;
}

.community__container p {
    color: #6E7FAA;
}

.community__container a {
    font-weight: 500;
}

.community__data--empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.community__data--empty {
    margin: 15px;
}

.community__data--empty a {
    color: #6e70bd;
    font-weight: bold;
}

.community__title__container {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.community__data__container {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.12);
    border-radius: 10px;
    width: 85%;
    height: 25vh;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.community__data__container--all {
    margin-top: 3vh;
}

.community__data__container__a {
    display: flex;
    flex-direction: column;
}

.community__nearby {
    margin-top: 1vh;
}

.community__adress {
    margin: 0.5em 0 0.2em 0.5em;
    font-size: 0.8em;
}

.community__img {
    height: 66%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.community__img img {
    width: 150%;
}

.community__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.community__container--top {
    margin-top: 5vh;
}

.community__data__container--xl {
    height: 75vh;
}

.community__data__container--xl img {
    width: 180%;
}

.community__data__container--xl div.community__img {
    height: 35%;
}

.farm__container {
    display: flex;
}

.community__info__col {
    flex-direction: column;
}

.label {
    position: absolute;
    margin: 0.5em 0 0 0.5em;
    padding: 0.2em 0.7em;
    background-color: #fff;
    border-radius: 0.2em;
    z-index: 100;
}

.label p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #222455;
}

.label--green p {
    color: #62B80E;
}

.farming {
    background-color: #62B80E;
    height: min-content;
    margin: 0.5em;
    padding: 0.2em;
    border-radius: 0.2em;
}

.farming p {
    font-size: 0.7em;
    color: #fff;
    margin: 0;
    padding: 0;
}

.farming--xl p {
    font-size: 1em;
}

nav {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 4vh;
}

nav img {
    height: 3vh;
}

.center {
    text-align: center;
}

/* NUDGE */

.blur {
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    z-index: 100;
    display: none;
}

.nudge__popup {
    background-color: #67B74E;
    height: 40%;
    width: 75%;
    position: absolute;
    margin-left: 12.5%;
    margin-top: 30%;
    border-radius: 35px;
    text-align: center;
    z-index: 200;
    display: none;
}

.nudge__popup img {
    height: 20%;
    margin-top: 0.5em;
}

.nudge__popup p {
    color: #fff;
    margin: 0.5em 1.5em;
}

.nudge__popup textarea {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 15px;
    height: 9vh;
    color: #FFFFFF;
}

.nudge__popup button {
    background-color: #248823;
    border: none;
    border-radius: 15px;
    width: 80%;
    padding: 0.5em 0;
    color: #fff;
    margin-top: 0.5em;
}

.nudge__complete {
    height: 20%;
    margin-top: 50%;
    display: none;
}

.nudge__complete h2 {
    color: #fff;
}

/* END NUDGE */

/* NOTIFICATIONS NUDGE */

.test {
    height: 10px;
    width: 10px;
    background-color: #FF5858;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
}

/* END NOTIFICATIONS NUDGE */

/* NUDGE DISPLAY */

.blur--active {
    display: block;
}

.nudgeList {
    position: fixed;
    bottom: 0px;
    height: 55vh;
    background-color: #569350;
    width: 100vw;
    z-index: 110;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nudgeLine {
    width: 30%;
    margin-top: 15px;
}

.nudgeItem {
   background-color: #fff;
   width: 100%;
   height: 15vh;
   color: #3E3F68;
   display: flex;
}

div .nudge--avatar {
    height: 60px;
    width: 60px;
    display: flex;
    align-self: center;
}

div .nudge--avatar img {
    height: 60px;
    width: 60px;
}

div .nudge--name {
    display: flex;
    align-self: center;
    width: 120px;
}

div .nudge--name span {
    font-weight: 500;
}

.nudgeFolder {
    width: 95%;
    height: 30vh;
    border-radius: 30px;
    overflow: scroll;
}

div .nudge--text {
    width: 120px;
    overflow: scroll;
}

.nudgeLink {
    color: #3E3F68;
    font-weight: 900;
    margin-top: 15px;
}

/* END NUDGE DISPLAY */

/* MEMBERLIST */
.memberlist {
    height: 150px;
    overflow: scroll;
    margin-top: 3vh;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member--avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #07B17D;
    margin-left: 1.5em;
}

.member--avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.member--name {
    position: absolute;
    margin-left: 55px;
    width: 100px;
    overflow: hidden;
}

.p__member--name {
    margin-left: 0.5em;
    font-weight: bold;
}

.member--farming {
    margin-left: 7.5em;
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member--nudge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #07B17D;
    margin-left: auto;
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.member--nudge img {
    width: 10px;
    height: 10px;
}

/* END MEMBERLIST */

/* CHAT */
.chatbox {
    height: 55vh;
    overflow: overlay;
    display: flex;
    flex-direction: column;
}

.chatbox__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chatbox__messages {
    background-color: #F2F2F2;
    color: #000;
    width: fit-content;
    padding: 0.6em 0.8em;
    margin: 0.5em 1em;
    border-radius: 0.6em;
}

.chatbox__messages p {
    padding: 0;
    margin: 0;
}

.chatbox__messages--me {
    background-color: #07B17D;
    color: #FFFFFF;
}

.chatbox__user {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.send {
    display: flex;
    justify-content: flex-end;
}

.form__messages {
    display: flex;
    background-color: #DDF5E7;
    border-radius: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.input__message {
    background-color: transparent;
    width: 80%;
    height: 4em;
    border: none;
}

.input__message::placeholder {
    color: #999999;
    padding-left: 1.5em;
}

.input__send__message {
    background-color: transparent;
    width: 20%;
    border: none;
    z-index: 200;
}

.send__message__img {
    /*background-color: #DDF5E7;*/
    height: 1.5em;
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 1.5em;
}
/* END CHAT */

/* MAP */

.mapContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact::after, a.mapboxgl-ctrl-logo {
    display: none;
}

.mapboxgl-marker {
    background-color: rgba(255, 0, 0, 0.31);
    width: 10px;
    height: 10px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin-top: 15vh;
}
/* END MAP */
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #000;    
}

